@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Montserrat&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    font-family: Montserrat, sans-serif;
}

.header-main-container {
    width: 100%;
    background: url(home-background-image.png) no-repeat;
    background-size: cover;
    height: 500px;
}

.header {
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0;
    top: 0;
    align-items: center;
    justify-content: center;

}

.whole-nav {
    display: flex;
    /* width: 100%; */
    /* position: fixed; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 2rem; */
}

/* .whole-nav-scrolled {
    background-color: #67148d;
    z-index: 1;
} */

.navbar {
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.list li {
    margin: 0 3rem;
    display: inline-block;
    position: relative;
    justify-content: space-evenly;
}

.list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Merriweather, sans-serif;
    margin: 0;
    color: black;
    transition: 0.3s;
}

.list a:hover {
    color: white;
    border-radius: 10px;
    background-color: #a60d0d;
}

#icon-open {
    padding: 10px;
    font-size: 22px;
    display: none;
}

.homeimage {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.homeimage-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeimage img {
    max-width: 100%;
    transform: translate(0%, 30%);
    scale: 1.5;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: width 2s, height 4s;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.site-purpose {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.site-purpose-info {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.site-purpose-info h1,
.site-purpose-info h2,
.site-purpose-info p {
    text-align: center;
    color: white;
}

.site-purpose-info h1 {
    font-size: 64px;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.get-started-button {
    padding: 20px;
    background-color: #a60d0d;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: white;
}

.get-started-button:hover {
    background-color: #e30202;
    box-shadow: 2px 2px 10px red;
}

.homepage-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.info-image {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.info-image img {
    max-width: 100%;
}

.info-content {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.info-content h2 {
    text-align: center;
    color: white;
    font-size: 28px;
}

.info-content hr {
    margin: 0px 5rem;
}

.get-data-file-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.get-file-image {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.get-file-image img {
    max-width: 100%;
}

.get-file-content {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.get-file-content h2 {
    color: white;
}

.get-file-button {
    padding: 20px;
    background-color: #a60d0d;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: white;
}

.get-file-button:hover {
    background-color: #e30202;
    box-shadow: 2px 2px 10px red;
}

.footer-container {
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.footer-links-container {
    width: 50%;
    float: left;
}

.footer-links {
    list-style-type: none;
    float: left;
    margin: 2rem;
}

.footer-links li {
    padding: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-title {
    width: 50%;
    float: right;
}

.footer-title h1 {
    float: right;
    padding: 10px;
    color: white;
    font-family: Merriweather, sans-serif;
}

/* DATA PAGE STYLES */
.data-main-container {
    background: url(data-page-image.webp) no-repeat;
    background-size: cover;
}

.main-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
}

.data-main {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.data-main-titles {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 1200px; */
    background-color: #202421;
}

.data-main-titles h1 {
    color: white;
    font-size: 48px;
    padding: 10px;
}

.data-buttons {
    width: 100%;
    display: flex;
    padding: 20px;
}

.sample-form {
    width: 50%;
    float: left;
}

.sample-form form {
    float: left;
}

.sample-form form input[type="submit"] {
    padding: 10px;
    background-color: #918b8b;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: black;
    transition: 0.5s;
}

.sample-form form input[type="submit"]:hover {
    background-color: #332b2b;
}

.search-form form input[type="text"] {
    width: 50%;
    padding: 15px;
    background-color: rgb(102, 98, 98);
    color: black;
    border: none;
    border-radius: 20px;
}

.search-form form button {
    background: transparent;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transform: translate(-150%, 0%);
}

.search-form form button:hover {
    color: black;
}

.upload-form form input[type="submit"] {
    padding: 10px;
    background-color: #918b8b;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: black;
    transition: 0.5s;
}

.upload-form form input[type="submit"]:hover {
    background-color: #332b2b;
}

.upload-form {
    width: 50%;
}

#flash-message {
    color: white;
}

.data-container {
    width: 80%;
    height: 500px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(15%, 5%);
}

.data-content {
    padding: 0px;
    max-width: 100%;
}

.data-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.data-table * {
    position: relative;
}

.data-table td,
.data-table th {
    padding-left: 8px;
}

.data-table thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
}

.data-table tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
}

.data-table tbody tr:last-child {
    border: 0;
}

.data-table td,
.data-table th {
    text-align: left;
}

.data-table td.l,
.data-table th.l {
    text-align: right;
}

.data-table td.c,
.data-table th.c {
    text-align: center;
}

.data-table td.r,
.data-table th.r {
    text-align: center;
}

@media screen and (max-width: 35.5em) {
    .data-table {
        display: block;
    }

    .data-table>*,
    .data-table tr,
    .data-table td,
    .data-table th {
        display: block;
    }

    .data-table thead {
        display: none;
    }

    .data-table tbody tr {
        height: auto;
        padding: 8px 0;
    }

    .data-table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
    }

    .data-table tbody tr td:last-child {
        margin-bottom: 0;
    }

    .data-table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
    }

    .data-table tbody tr td:nth-child(2):before {
        content: "Start Time";
    }

    .data-table tbody tr td:nth-child(3):before {
        content: "Duration";
    }

    .data-table tbody tr td:nth-child(4):before {
        content: "Title";
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.data-image {
    width: 100%;
    padding: 10px;
}

.data-image img {
    max-width: 50%;
    padding: 10px;
}


/* ABOUT PAGE STYLES */
.about-main-container {
    background: url(about-page-image.jpg) no-repeat;
    background-size: cover;
}

.about-main {
    width: 100%;
    align-items: center;
    justify-content: center;

}

.about-info {
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.about-info h1 {
    text-align: center;
    transform: translate(0%, 200px);
    font-size: 68px;
    padding: 20px;
    color: white;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: width 2s, height 4s;
}

.about-tutorial {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0px;
}

.about-tutorial h2 {
    margin: 0;
    color: white;
    font-size: 36px;
}

#more {
    display: none;
}

#myBtn {
    padding: 20px;
    background-color: #a60d0d;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: white;
}

#myBtn:hover {
    background-color: #e30202;
    box-shadow: 2px 2px 10px red;
}

.steps-list {
    list-style-type: none;
    padding: 20px;
}

.steps-list li {
    background-color: red;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    margin: 0.5rem;
    cursor: pointer;
}

.steps-list li:hover {
    background-color: #e30202;
    box-shadow: 2px 2px 10px red;
}

#step1-more,
#step2-more,
#step3-more {
    display: none;
}

#step1-more img,
#step2-more img {
    max-width: 100%;
}

#step1-more a {
    color: white;
}

#step1-more a:hover {
    color: black;
}

.step-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.step-button:hover {
    color: black;
}

.go-to-upload-button {
    padding: 20px;
    background-color: #a60d0d;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: white;
}

.go-to-upload-button:hover {
    background-color: #420303;
    box-shadow: 2px 2px 10px rgb(146, 3, 3);
}

.about-content-container {
    width: 100%;
    display: flex;
}

.about-image {
    width: 50%;
    padding: 10px;

}

.about-image img {
    max-width: 100%;
}

.about-content {
    width: 50%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translate(0%, 50%);
}

.about-content img {
    width: 100%;
}

@media screen and (max-width: 880px) {
    .navbar {
        display: none;
        background-color: rgb(214, 40, 40);
        height: 100vh;
        width: 220px;
        z-index: 1;
        position: absolute;
        margin: 0;
        right: 0;
    }

    .show {
        display: block;
        background-color: rgb(214, 40, 40);
        height: 100vh;
        width: 220px;
        z-index: 1;
        position: absolute;
        margin: 0;
        right: 0;
    }

    #icon-open {
        display: block;
        position: absolute;
        right: 10px;
        z-index: 1;
    }

    #icon-open:hover {
        cursor: pointer;
    }

    .list {
        display: block;
    }

    .list li {
        display: block;
        color: white;
        padding: 10px;
    }

    .homepage-info {
        display: block;
    }

    .info-image {
        width: 100%;
    }

    .info-content {
        width: 100%;
    }

    .data-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sample-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        width: 100%;
    }

    .sample-form form input[type="submit"] {
        margin: 0;
    }

    .upload-form {
        padding-bottom: 20px;
        width: 100%;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .search-form form {
        width: 100%;
    }

    .about-content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .footer-links-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-links-container ul {
        padding: 0;
        margin: 0;
    }

    .footer-links-container ul li {
        display: inline;
        padding: 20px;
    }

    .footer-title {
        width: 100%;
    }

    .footer-title h1 {
        float: none;
        text-align: center;
    }
}