<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Data Tracking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <div class="header-main-container data-main-container">
        <header class="header">
            <nav class="navbar">
                <ul class="list">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('data')}}">Data</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="data-main">
                <div class="data-main-titles">
                    <h1>View my Data</h1>
                    <div class="data-buttons">
                        <!-- <form action="/sample" method="post">
                            <input type="submit" value="View Sample Netflix Data">
                        </form> -->
                        <button onclick="showData()">View Sample Data</button>
                        <form enctype="multipart/form-data" action="/upload" method="post">
                            <label for="filename">Upload File</label>
                            <input type="file" name="filename" id="filename" />
                            <input type="submit" value="Upload" />

                        </form>
                    </div>
                    <!-- <div id="data">
                        {% for table in tables %}
                        {{titles[loop.index]}}
                        {{table | safe}} {% endfor %}
                    </div> -->
                    <div id="paginated-data">
                        <h1>Data Table</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Start Time</th>
                                    <th>Duration</th>
                                    <th>Title</th>
                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for index, row in data.iterrows() %}
                                <tr>
                                    <td>{{ row['Start Time'] }}</td>
                                    <td>{{ row['Duration'] }}</td>
                                    <td>{{ row['Title'] }}</td>
                                    <!-- Add more columns as needed -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                            {% if current_page > 1 %}
                            <a href="?page={{ current_page - 1 }}">Previous</a>
                            {% endif %}

                            Page {{ current_page }} of {{ total_pages }}

                            {% if current_page < total_pages %} <a href="?page={{ current_page + 1 }}">Next</a>
                                {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>

    <footer class="footer-container">
        <div class="footer-links-container">
            <ul class="footer-links">
                <li><a href="">About</a></li>
                <li><a href="https://www.netflix.com/account/getmyinfo">Get File</a></li>
            </ul>
        </div>
        <div class="footer-title">
            <h1>Netflix Data Tracking</h1>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>