<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Data Tracking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header-main-container data-main-container">
        <header class="header">
            <nav class="navbar">
                <ul class="list">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('data')}}">Data</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-title">
            </div>
        </main>
    </div>

    <div class="data-main">
        <div class="data-main-titles">
            <h1>View my Data</h1>
            <div class="data-buttons">
                <div class="sample-form">
                    <form action="/sample" method="post">
                        <input type="submit" value="View Sample Netflix Data">
                    </form>
                </div>
                <div class="upload-form">
                    <form enctype="multipart/form-data" action="/upload" method="post">
                        <input type="file" name="filename" id="filename" required />
                        <input type="submit" value="Upload File" />
                    </form>
                </div>
            </div>
            <div class="search-form">
                <form action="/search" method="post">
                    <input type="text" name="search_query" placeholder="Enter show/movie name" required>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h2 id="flash-message">{{ message }}</h2>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="data-container">
                <div class="data-content">
                    {% for table in tables %}
                    {{titles[loop.index]}}
                    {{table | safe}}
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="data-image">
                <img src="data:image/png;base64,{{ image_base64 }}">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>

    <footer class="footer-container">
        <div class="footer-links-container">
            <ul class="footer-links">
                <li><a href="">About</a></li>
                <li><a href="https://www.netflix.com/account/getmyinfo">Get File</a></li>
            </ul>
        </div>
        <div class="footer-title">
            <h1>Netflix Data Tracking</h1>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>